@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: antiquewhite;
}

nav {
    background-color: black;
    color: white;
    width: 100%;
    height: auto;
    font-family: 'Ubuntu Mono', monospace;
    font-family: 'Varela Round', sans-serif;
}

ul {
    display: flex;
    list-style: none;
    text-transform: capitalize;
    align-items: center;
    font-size: 1rem;
}

li {
    margin-right: 2vh;
}

.brandlogo {
    display: flex;
    align-items: center;
}

.brandlogo img {
    width: 5vw;
    height: 7vh;
    padding: 8px;
}

.container {
    height: 72vh;
    background: rgb(87, 63, 63);
    color: white;
    display: flex;
    width: 70%;
    margin: 23px auto;
    padding: 34px;
    border-radius: 12px;
    background-image: url(bg.jpg);
    background-size: 100%;
}

.bottom {
    position: sticky;
    width: 98.7vw;
    background: black;
    color: white;
    height: 12vh;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    margin-top: 5px;
}

.icons i {
    cursor: pointer;
}

#range {
    width: 80vw;
    cursor: pointer;
}

i {
    transform: scale(1);
}

i:hover {
    /* color: yellow; */
    transform: scale(1.1);
}

.songItem {
    background: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5%;
    margin: 3px 10px;
    padding: 5px;
    border-radius: 34px;
}

.songitemContainer {
    margin: 5px 0px;
    width: 100%;
    height: 100%;
}

.songItem img {
    width: 2vw;
    height: 5vh;
    border-radius: 34px;
}

.songItem i {
    cursor: pointer;
}

.songList {
    width: 30%;
    height: 100%;
    /* overflow: hidden; */
}

.songInfo {
    position: absolute;
    left: 10vw;
}

.songInfo img {
    opacity: 0;
    transition: opacity ease-in 0.3s;
}

.inputdiv {
    display: flex;
}

.btn {
    width: 21vw;
    border-radius: 12px;
    transform: translate(18px);
}